/*
hint:
use # in front of the name of an id from your html page
use . in front of the name of a class of things from your html page
use , to separate a list of things that have some shared css rule
use float to make something locate itself on the right or left
*/

body{ /* #1 changed color, margins, padding, added wrap, overflow */
	background-color: rgb(48, 46, 108);
	display: flex;
	align-items: center;
	justify-content: center;
	flex-flow: wrap;
	margin: 0px;
	padding: 0px;
	flex-direction: column;
	overflow-x: hidden;
}
@media screen and (min-width: 925px) {
  .pslo-courses-container {
	flex-direction: column;
	width: 100%;
	display: flex;
  }
}

.faculty-container { /* set width */
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	max-width: 100%;
}

#main-title { /* changed color and font, added shadow */
	color: white;
	font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, sans-serif;
	text-align: center;
	font-size: 4rem;
	text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
}

h2 { /* #2 changed color, font, and size, added shadow */
	font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, sans-serif;
	color: white;
	font-size: xx-large;
	text-align: center;
	width: auto;
	text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
}

.section { /* removed border, changed width */
	padding: 10px;
	margin-top: 10px;
	margin-bottom: 10px;
	max-width: 100%;
}

#courses { /* changed border, font, color, width */
	background-color: #4c7bde;
	font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", serif;
	color: white;
	border-bottom: 5px solid; /* combined two properties on this line and line below */
	border-top: 5px solid;
	width: 100%;
}

#pslo { /* changed border, color, font, width */
	background-color: #4c7bde;
	font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", serif;
	color: white;
	border-bottom: 5px solid;/* combined two properties on this line and line below */
	border-top: 5px solid;
	width: 100%;
}
#faculty { /* changed color, removed display, added width */
	flex-direction: column;
	justify-content: center;
	align-content: center;
	width: 100%;
}
#faculty>ul>li { /* #3 changed color, font, padding, margin */ /* This is nesting that references the line of the unlisted line of faculty that affects the members and their pictures */
	display: inline-block;
	font-family: sans-serif;
	padding: 30px;
	color: white;
	margin: 30px;
	background-color: rgb(89, 68, 177);
}

#faculty-list { /* removed wrap, changed direction, added overflow */
	padding-left: 0;
	flex-direction: column;
	justify-content: center;
	align-content: center;
	overflow: auto;
}

.name {
  font-family: 'Dancing Script', cursive;
  font-size: 2rem;
}

.office { /* font */
	font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", serif;
	;
}

img.pic {
	width: auto;
	border: 4px solid #000000;
}

#style ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

#style li {
  float: left; /*explore what happens if this is 'right' instead*/
}

#style li a {
  display: block;
  color: white;
  text-align: center;
  padding: 10px 12px; /*this adds some spacing around the items in our "nav bar" */
  text-decoration: none;
}

/* Change the link background color to #000 (black) on hover */
#style li a:hover {
  background-color: #000;
}

#style { /* removed color, padding */
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  height: 55px;
  width: 70px;
}

#validation { /* #4 border, font */
	font-size: 100%;
	background-color: #000000;
	padding: 25px;
	color: white;
	border-bottom-style: solid;
	border-top-style: solid;
	border-color: white;
	font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", serif;
	;
}
h6 { /* Added font-size to h6 */
	font-size: 20px;
} /* #5 Added four IDs gave borders*/
#KK {
	border: medium solid rgba(0,0,0,1.00);
	margin-left: 10px;
}
#Nic {
	border: medium solid rgba(0,0,0,1.00);
}
#Elena {
	border: medium solid rgba(0,0,0,1.00);
}
#Peter {
	border: medium solid rgba(0,0,0,1.00);
}
