/*
hint:
use # in front of the name of an id from your html page
use . in front of the name of a class of things from your html page
use , to separate a list of things that have some shared css rule
use float to make something locate itself on the right or left

*/
/* #1 General change of fonts and colors */
body{
  background-color: rgb(6, 61, 35);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: wrap;
  margin: 0px;
  padding: 0px;
  flex-direction: row;
}
@media screen and (min-width: 925px) {
  .pslo-courses-container {
    flex-direction: column;
    width: 100%;
    display: flex;
    margin-left: 150px;

  }
}
@media screen and (min-width: 1500px) { /* #2 Added media screen for when the screen is large enough to change to these properties, also rotates and transforms the origin */
  #main-title {
    color: #06ce89;
    font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, sans-serif;
    text-align: left;
    font-size: 4rem;
    text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;

    transform: rotate(90deg);
    transform-origin: top left 0;
    margin-Top: 0px;
    margin-right: 600px;
  }
}
@media screen and (max-width: 1499px) { /* Added media screen for when the screen is small enough. This one doesn't rotate */
  #main-title {
    color: #06ce89;
    font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, sans-serif;
    text-align: center;
    font-size: 4rem;
    text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
  }
}
.faculty-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: 0px;
  max-width: 100%;

}

h2 {
  font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, sans-serif;
  color: #005816;
  font-size: xx-large;
  text-align: center;
  width: auto;
  text-shadow: -2px 0 #000000, 0 2px #000000, 2px 0 #000000, 0 -2px #000000;
}

.section {

  margin: 10px 50px;
  padding: 10px;
  /*margin-top: 10px;*/
  /*margin-bottom: 10px;*/
  max-width: 100%;
}

#courses { /* #3 Added rotate, changed colors, font, width */
  background-color: #0b9149;
  font-family: "Times New Roman", serif;
  color: white;
  border-bottom: 5px solid;
  border-top: 5px solid;
  width: 70%;
  transform: rotate(-15deg);
  margin-top: 100px;


}

#pslo { /* Added rotate, changed colors, margins, font, width */
  background-color: #0b9149;
  font-family: "Times New Roman", serif;
  color: white;
  border-bottom: 5px solid;
  border-top: 5px solid;
  width: 70%;
  transform: rotate(15deg);
  margin-bottom: 130px;
  margin-top: 100px;
}
#faculty {
  flex-direction: column;
  justify-content: center;
  align-content: center;
  width: 90%;

}
#faculty>ul>li { /* This is nesting that references the line of the unlisted line of faculty that affects the members and their pictures */
  display: inline-block;
  font-family: sans-serif;
  padding: 30px;
  color: white;
  margin: 30px;
  background-color: rgb(11, 145, 73);
}

#faculty-list {
  padding-left: 0;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  overflow: visible;
  margin-left: 150px;
}

.name {
  font-family: 'Times New Roman', serif;
  font-size: 3rem;
  text-align: center;
}

.office {
  font-family: "Times New Roman", serif;
  text-align: center;
}

img.pic {
  width: auto;
  border: 4px solid #000000;
  float: left;
}


#style ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

#style li {
  float: left;
}

#style li a {
  display: block;
  color: white;
  text-align: center;
  padding: 10px 12px;
  text-decoration: none;
}

#style li a:hover { /* changed background color */
  background-color: #06ce89;
}

#style { /*  #4 removed width, is now on the right side */
  position: fixed;
  right: 0;
  top: 0;
  height: 55px;

}

#validation {
  font-size: 100%;
  background-color: #000000;
  padding: 25px;
  color: white;
  border-bottom-style: solid;
  border-top-style: solid;
  border-color: white;
  font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", serif;
  width: auto;
}
h6 {
  font-size: 20px;
}
#KK { /* #5 rotated all four IDs */
  border: medium solid rgba(0,0,0,1.00);
  transform: rotate(20deg);

  margin-left: 10px;
}
#Nic {
  border: medium solid rgba(0,0,0,1.00);
  transform: rotate(20deg);

}
#Elena {
  border: medium solid rgba(0,0,0,1.00);
  transform: rotate(20deg);


}
#Peter {
  border: medium solid rgba(0,0,0,1.00);
  transform: rotate(20deg);

}

